# Final Data Layer - TCS Stock Prediction

This notebook fetches:
- TCS stock data across 6 different time horizons
- NIFTY50 & USD/INR macro indicators
- Latest news headlines for TCS

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import os
from GoogleNews import GoogleNews

# Ensure data directory exists
os.makedirs('data', exist_ok=True)

## TCS Data (Multi-Horizon)

In [2]:
# 1D: 1-minute interval for 7 days
tcs_1d = yf.download('TCS.NS', interval='1m', period='7d')
tcs_1d['Date'] = tcs_1d.index.date
tcs_1d.to_csv('data/tcs_1d_1min.csv')
print("1D Data:")
print(tcs_1d.head())

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

1D Data:
Price                            Close         High          Low         Open  \
Ticker                          TCS.NS       TCS.NS       TCS.NS       TCS.NS
Datetime
2025-05-08 03:45:00+00:00  3438.100098  3441.699951  3433.699951  3441.699951
2025-05-08 03:46:00+00:00  3439.000000  3439.699951  3433.300049  3438.199951
2025-05-08 03:47:00+00:00  3443.899902  3444.500000  3438.600098  3438.600098
2025-05-08 03:48:00+00:00  3451.300049  3453.000000  3443.399902  3443.399902
2025-05-08 03:49:00+00:00  3462.000000  3463.600098  3452.800049  3452.800049

Price                     Volume        Date
Ticker                    TCS.NS
Datetime
2025-05-08 03:45:00+00:00      0  2025-05-08
2025-05-08 03:46:00+00:00  28171  2025-05-08
2025-05-08 03:47:00+00:00  13759  2025-05-08
2025-05-08 03:48:00+00:00  15780  2025-05-08
2025-05-08 03:49:00+00:00  13470  2025-05-08

In [3]:
# 5D: 30-minute interval for 20 days
tcs_5d = yf.download('TCS.NS', interval='30m', period='20d')
tcs_5d['Date'] = tcs_5d.index.date
tcs_5d.to_csv('data/tcs_5d_30min.csv')
print("5D Data:")
print(tcs_5d.head())

[*********************100%***********************]  1 of 1 completed

5D Data:
Price                            Close         High          Low         Open  \
Ticker                          TCS.NS       TCS.NS       TCS.NS       TCS.NS
Datetime
2025-04-17 04:00:00+00:00  3235.199951  3240.699951  3218.199951  3226.100098
2025-04-17 04:30:00+00:00  3230.899902  3235.899902  3225.199951  3235.199951
2025-04-17 05:00:00+00:00  3235.100098  3242.000000  3230.800049  3230.800049
2025-04-17 05:30:00+00:00  3251.300049  3252.800049  3232.899902  3235.100098
2025-04-17 06:00:00+00:00  3256.899902  3262.300049  3249.199951  3251.300049

Price                      Volume        Date
Ticker                     TCS.NS
Datetime
2025-04-17 04:00:00+00:00  298859  2025-04-17
2025-04-17 04:30:00+00:00  165792  2025-04-17
2025-04-17 05:00:00+00:00   99767  2025-04-17
2025-04-17 05:30:00+00:00  189309  2025-04-17
2025-04-17 06:00:00+00:00  217386  2025-04-17

In [4]:
# 1M: Daily interval for 6 months
tcs_1m = yf.download('TCS.NS', interval='1d', period='6mo')
tcs_1m['Date'] = tcs_1m.index.date
tcs_1m.to_csv('data/tcs_1m_1d.csv')
print("1M Data:")
print(tcs_1m.head())

[*********************100%***********************]  1 of 1 completed

1M Data:
Price             Close         High          Low         Open   Volume  \
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS   TCS.NS
Date
2024-11-18  4009.944092  4202.984067  3980.713701  4202.984067  3313944
2024-11-19  4029.946533  4122.326242  4004.557086  4010.343102  1776233
2024-11-21  4063.167236  4082.720493  4014.433276  4035.283490  2384347
2024-11-22  4234.508789  4244.834280  4044.361833  4061.321416  3096553
2024-11-25  4304.841309  4317.810402  4242.090945  4269.824658  4052167

Price             Date
Ticker
Date
2024-11-18  2024-11-18
2024-11-19  2024-11-19
2024-11-21  2024-11-21
2024-11-22  2024-11-22
2024-11-25  2024-11-25

In [5]:
# 6M: Daily interval for 1 year
tcs_6m = yf.download('TCS.NS', interval='1d', period='1y')
tcs_6m['Date'] = tcs_6m.index.date
tcs_6m.to_csv('data/tcs_6m_1d.csv')
print("6M Data:")
print(tcs_6m.head())

[*********************100%***********************]  1 of 1 completed

6M Data:
Price             Close         High          Low         Open   Volume  \
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS   TCS.NS
Date
2024-05-16  3873.208984  3881.698231  3816.167579  3863.429176  2599399
2024-05-17  3806.834717  3892.123760  3802.763776  3891.130872  2765804
2024-05-21  3793.033447  3817.408914  3782.955724  3803.359635  1908117
2024-05-22  3804.749268  3813.933487  3790.402075  3807.727933  1311168
2024-05-23  3865.762207  3877.230119  3798.295473  3813.635554  2095742

Price             Date
Ticker
Date
2024-05-16  2024-05-16
2024-05-17  2024-05-17
2024-05-21  2024-05-21
2024-05-22  2024-05-22
2024-05-23  2024-05-23

In [6]:
# 1Y: Daily interval for 2 years
tcs_1y = yf.download('TCS.NS', interval='1d', period='2y')
tcs_1y['Date'] = tcs_1y.index.date
tcs_1y.to_csv('data/tcs_1y_1d.csv')
print("1Y Data:")
print(tcs_1y.head())

[*********************100%***********************]  1 of 1 completed

1Y Data:
Price             Close         High          Low         Open   Volume  \
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS   TCS.NS
Date
2023-05-16  3164.139893  3190.215263  3156.662114  3162.246205   986306
2023-05-17  3116.116943  3185.359719  3105.968512  3162.003604  1588815
2023-05-18  3107.522461  3135.782675  3102.812307  3132.869236  1369364
2023-05-19  3129.858643  3141.172401  3110.629900  3117.379319  1152449
2023-05-22  3203.520020  3212.988695  3124.226025  3136.802321  1333243

Price             Date
Ticker
Date
2023-05-16  2023-05-16
2023-05-17  2023-05-17
2023-05-18  2023-05-18
2023-05-19  2023-05-19
2023-05-22  2023-05-22

In [7]:
# 5Y: Weekly interval for 10 years
tcs_5y = yf.download('TCS.NS', interval='1wk', period='5y')
tcs_5y['Date'] = tcs_5y.index.date
tcs_5y.to_csv('data/tcs_5y_7d.csv')
print("5Y Data:")
print(tcs_5y.head())

[*********************100%***********************]  1 of 1 completed

5Y Data:
Price             Close         High          Low         Open    Volume  \
Ticker           TCS.NS       TCS.NS       TCS.NS       TCS.NS    TCS.NS
Date
2020-05-18  1858.817017  1869.535587  1722.420043  1754.529707  16769218
2020-05-25  1814.654419  1862.174862  1771.090222  1858.816669  18770893
2020-06-01  1884.486328  1932.098762  1822.705148  1830.893589  17513340
2020-06-08  1881.951538  1967.306045  1855.653122  1917.708156  16147832
2020-06-15  1886.657593  1928.550531  1846.379469  1881.582460  14875224

Price             Date
Ticker
Date
2020-05-18  2020-05-18
2020-05-25  2020-05-25
2020-06-01  2020-06-01
2020-06-08  2020-06-08
2020-06-15  2020-06-15

## Macro Economic Indicators

In [8]:
# NIFTY50 Index
nifty50 = yf.download('^NSEI', interval='1d', period='5y')
nifty50['Date'] = nifty50.index.date
nifty50.to_csv('data/nifty50.csv')
print("NIFTY50:")
print(nifty50.head())

[*********************100%***********************]  1 of 1 completed

NIFTY50:
Price             Close         High          Low         Open  Volume  \
Ticker            ^NSEI        ^NSEI        ^NSEI        ^NSEI   ^NSEI
Date
2020-05-18  8823.250000  9158.299805  8806.750000  9158.299805  773000
2020-05-19  8879.099609  9030.349609  8855.299805  8961.700195  762200
2020-05-20  9066.549805  9093.799805  8875.349609  8889.150391  622300
2020-05-21  9106.250000  9178.549805  9056.099609  9079.450195  631500
2020-05-22  9039.250000  9149.599609  8968.549805  9067.900391  675800

Price             Date
Ticker
Date
2020-05-18  2020-05-18
2020-05-19  2020-05-19
2020-05-20  2020-05-20
2020-05-21  2020-05-21
2020-05-22  2020-05-22

In [9]:
# USD/INR Exchange Rate
usdinr = yf.download('USDINR=X', interval='1d', period='5y')
usdinr['Date'] = usdinr.index.date
usdinr.to_csv('data/usdinr.csv')
print("USD/INR:")
print(usdinr.head())

[*********************100%***********************]  1 of 1 completed

USD/INR:
Price           Close       High        Low       Open   Volume        Date
Ticker       USDINR=X   USDINR=X   USDINR=X   USDINR=X USDINR=X
Date
2020-05-18  75.820000  76.092003  75.612396  75.820000        0  2020-05-18
2020-05-19  75.600098  76.040001  75.527496  75.599998        0  2020-05-19
2020-05-20  76.000000  76.000000  75.462997  75.699997        0  2020-05-20
2020-05-21  75.779999  75.919998  75.416000  75.779999        0  2020-05-21
2020-05-22  75.625000  76.209503  75.610001  75.625000        0  2020-05-22

## News Headlines

In [10]:
# Scrape recent news on TCS
googlenews = GoogleNews(lang='en', period='7d')
googlenews.search('Tata Consultancy Services')
news_results = googlenews.results(sort=True)
news_df = pd.DataFrame(news_results)
news_df.to_csv('data/tcs_news.csv', index=False)
print(news_df.head())

                                               title             media  \
0  TCS, HDFC, Airtel and Infosys ranked among the...  AffairsCloud.com
1  TCS Senior Employees Variable Pay Cut: Bold Co...  Hindustan Herald
2  Months after Ratan Tata's death, THIS Tata Gro...               MSN
3         TCS ranks 45th among top-100 global brands    The Hans India
4          TCS Ranks #45 Among Top-100 Global Brands          BizzBuzz

            date                   datetime  \
0    0 hours ago 2025-05-17 14:42:28.764526
1  6 minutes ago 2025-05-17 14:36:27.928522
2    1 hours ago 2025-05-17 13:42:28.764526
3    4 hours ago 2025-05-17 10:42:28.756981
4    6 hours ago 2025-05-17 08:42:28.763018

                                                desc  \
0  According to the Kantar BrandZ, â€œ2025 World's ...
1  India's largest IT services company, Tata Cons...
2  The milestone achievement by Tata Consultancy ...
3  Hyderabad: Tata Consultancy Services (TCS), a ...
4  Hyderabad: Tata Consultancy Services (TCS), a ...

                                                link  \
0  https://affairscloud.com/tcs-hdfc-airtel-and-i...
1  https://hindustanherald.com/tcs-senior-employe...
2  https://www.msn.com/en-in/money/topstories/mon...
3  https://www.thehansindia.com/business/tcs-rank...
4  https://www.bizzbuzz.news/corporate/tcs-ranks-...

                                                 img
0  data:image/gif;base64,R0lGODlhAQABAIAAAP//////...
1  data:image/gif;base64,R0lGODlhAQABAIAAAP//////...
2  data:image/gif;base64,R0lGODlhAQABAIAAAP//////...
3  data:image/gif;base64,R0lGODlhAQABAIAAAP//////...
4  data:image/gif;base64,R0lGODlhAQABAIAAAP//////...